[package]
name = "ton_sdk"
version = "0.1.0"

[dependencies]
ton_abi = { git = "https://github.com/tonlabs/ton-labs-abi.git" }
ton_types = { git = "https://github.com/tonlabs/ton-labs-types.git" }
ton_block = { git = "https://github.com/tonlabs/ton-labs-block.git" }
ton_vm = { git = "https://github.com/tonlabs/ton-labs-vm.git", default-features = false }

num-bigint = "0.2.2"
sha2 = "0.8"
serde_json = "1.0.41"
serde = "1.0.91"
serde_derive = "1.0.91"
error-chain = { version = "^0.12", default-features = false }
hex = "0.3.2"
ed25519-dalek = "^0.9.1"
lazy_static = "1.1.0"
base64 = "0.10.0"
chrono = "0.4.9"
crc-any = "2.2.3"


[target.'cfg(target_arch="wasm32")'.dependencies]
rand = { version = "0.6.1", features = ["wasm-bindgen"] }
chrono = { version = "0.4.9", features = ["wasmbind"] }

[dependencies.futures]
version = "^0.1.26"
optional = true

[dependencies.graphite]
path = "../graphite"
optional = true

[dependencies.reqwest]
version = "0.9.18"
features = ["default-tls-vendored"]
optional = true

[dev-dependencies]
pretty_assertions = "0.5.1"
rand = "0.6.1"
dirs = "2.0.2"

[features]
default = ["node_interaction"]
ci_run = []
node_interaction = ["graphite", "futures", "reqwest"]

