[package]
name = "ton_sdk"
version = "0.1.0"
edition = "2018"
license = "Apache-2.0"

[dependencies]
ton_abi = { git = "https://github.com/tonlabs/ton-labs-abi.git"}
ton_block = { git = "https://github.com/tonlabs/ton-labs-block.git" }
ton_vm = { git = "https://github.com/tonlabs/ton-labs-vm.git", default-features = false }
ton_types = { git = "https://github.com/tonlabs/ton-labs-types.git" }

num-bigint = "0.2.2"
sha2 = "0.8"
serde_json = "1.0.41"
serde = "1.0.91"
serde_derive = "1.0.91"
hex = "0.3.2"
ed25519-dalek = "1.0.0-pre.3"
lazy_static = "1.1.0"
base64 = "0.10.0"
chrono = "0.4.9"
crc-any = "2.2.3"
failure = "0.1"
num-traits = "^0.2.8"

[target.'cfg(target_arch="wasm32")'.dependencies]
rand = { version = "0.7.3", features = ["wasm-bindgen"] }
chrono = { version = "0.4.9", features = ["wasmbind"] }

[dependencies.tokio]
version = "0.2.13"
optional = true

[dependencies.futures]
version = "0.3.4"
optional = true

[dependencies.futures-timer]
version = "3.0.1"
optional = true

[dependencies.graphite]
path = "../graphite"
optional = true

[dependencies.reqwest]
version = "0.10.4"
optional = true

[dependencies.ton_executor]
git = "https://github.com/tonlabs/ton-labs-executor.git"
default-features = false

[dev-dependencies]
pretty_assertions = "0.5.1"
rand = "0.7.3"
dirs = "2.0.2"
tokio = { version = "0.2.13", features = ["macros"]}

[features]
default = ["node_interaction"]
ci_run = []
node_interaction = ["graphite", "futures", "reqwest", "tokio", "futures-timer"]

